$colorBc: #f8f8f8;
$colorGradient: linear-gradient(90deg, #f8f8f8 0, #fff);
$colorSwiperGradient: linear-gradient(
  270deg,
  #f8f8f8 16.84%,
  rgba(248, 248, 248, 0.0001) 100%
);
$colorCards: #fff;
$colorTextMain: #1b1c21;
$colorTextAdditional: #7e7e82;
$colorButton: #ff3e79;
$colorBtnHover: #fda0bc;
$colorBorder: #b8ffec;
$colorBorderLight: #d9fff5;
$colorBrightGray: #eaeaea;
$colorTurquoise: #41f6d7;
$colorGainsboro: #dddddd;
$colorPhilippineSilver: #b5b6bc;
